{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        ;;
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
        ;;
        oberon/oberon {:git/url "https://github.com/OberonSystems/oberon-utils"
                       :git/sha "88ed170ca9d1da50c342e50ca732fb1c547f4dfb"}}
 :aliases { ;;
  ;; -- Testing
  ;; clojure -M:test:runner-clj
  ;; clojure -M:test:runner-cljs
  :test       {:extra-paths ["test"]
               :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner-clj {:extra-deps {com.cognitect/test-runner
                            {:git/url "https://github.com/cognitect-labs/test-runner"
                             :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
               :main-opts ["-m" "cognitect.test-runner"
                           "-d" "test"]}
  :runner-cljs {:extra-deps  {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                :main-opts   ["-m" "cljs-test-runner.main"]}
  ;;
  ;; If needed, can also use M-x cider-jack-in-clj(s)
  ;; clojure -M:cider-clj
  :cider-clj   {:extra-deps {nrepl/nrepl       {:mvn/version "0.8.3"}
                             cider/cider-nrepl {:mvn/version "0.25.4"}}
                :main-opts  ["-m"           "nrepl.cmdline"
                             "--middleware" "[cider.nrepl/cider-middleware]"]}
  ;;
  ;; - start an interactive REPL with a headless nREPL server
  ;; clojure -M:nrepl
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}
          :main-opts  ["-m" "nrepl.cmdline" "-i"]}
  ;;
  :jar     {:extra-deps {seancorfield/depstar {:mvn/version "1.1.128"}}
            :main-opts ["-m" "hf.depstar.jar" "spectacular.jar"]}
  :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.1"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "spectacular.jar"]}
  :deploy  {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.1"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "spectacular.jar"]}}}
